<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about" style="background-color:#F1F0E8 !important;">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="/assets/images/frida3.png" alt="Frida Spikdotter Nilsson">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class="subtitle has-text-black-bis has-text-weight-medium is-marginless">
                        Frida Spikdotter Nilsson
                    </h3>
                    <p>Jag heter Frida och tar uppdrag som skrivcoach, redaktör och textproducent. </p>
                    <p>Jag har jobbat med text i över 15 år – som journalist, skribent, kommunikatör, bloggare och redaktionschef. 
                        Nu använder jag alla erfarenheter för att hjälpa dig som vill jobba med textuell kommunikation i olika former.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="https://skrivplaneten.se"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Skrivplaneten.se</a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd"></div>
            </div>
    <hr/>
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd"></div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <h3 class="subtitle has-text-black-bis has-text-weight-medium is-marginless">
                        Mark Dixon
                    </h3>
                    <p>Hej! Mark heter jag. Jag tar uppdrag inom agil produktutveckling och kan även det där med att skriva kod och andra tekniska saker.</p>
                    <p>Jag har haft varierande roller: utvecklare, forskning, lärare, coach, CTO, arkitekt, teknisk projektledare, utvecklingschef,
                         produktchef, medlem i ledningsgrupp samt styrelsemedlem i små företag.</p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Kontakta osss</a>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author2-image}}" alt="{{site.author2-name}}">
                    </figure>
                </div>
            </div>


        </div>


</section>